
<br/>
<div class = "container">

	<div class = "hide-mobile">
		<div class = "row padded-top">
			<div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
				<div class = "panel panel-default">
					<div class = "panel-body scroller">
						<div class = "row heading">
							<h2>Vehicle List</h2>
						</div>
						<hr class = "blue"/>
						
						<div class = "panel panel-default vehicle">
							<div class = "panel-body">
								<div class = "row">
									<div class = "col-xs-2">
										<div class = "col-xs-6">
											<div class="status-box active-vehicle-status">
											</div>
										</div>
									</div>
									<div class = "col-xs-4">
										<h4>VehicleID</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/panel panel-default (vehicle panel)-->
			</div>
			<!--/col-... -->
		</div>
		<!--/row padded-top-->
	</div>

	<!--/hide-mobile-->
	<div class = "show-mobile">
	</div>
</div>
