// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme: #D91E18;
$theme_b: #3A539B;
$theme_gr:#D2D7D3;
$theme_gr_drk:#6C7A89;
$theme_grn:#2ECC71;
$theme_text: #6C7A89;
$bts: .5s;

html, body{
	background-color: #D2D7D3 !important;
	height:100%;
}

hr.blue{
    background-color:$theme_b;
    border-color: $theme_b;
    color:$theme_b;
    margin-top:0px;
}

.active-vehicle-status{
	background:$theme_grn;
}
.container{
	height:100% !important;
}

.panel-body .vehic{
	padding:4px !important;
}

.panel-body .scroller{
		overflow: auto;
		min-height:50% !important;
}

.row .heading{
	padding-left: 5%;
	color:$theme_gr_drk;
}

.row .padded-top{
	padding-top: 10%;
}


.vehicle{
	
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 2%;
	margin-left: 2%;
}

.status-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.row.padded-top{
  height:50%!important;
 }

 .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-xl-8, .panel.panel-default.panel-out, .panel-body.scroller{
 	height:100% !important;
 }

.check-in{
	background-color:$theme_grn!important;
	color:white!important;
	border-color: $theme_grn!important;

}
.check-in:active{
	background-color: $theme_grn !important;
	opacity:.9 !important;
	color:white !important;
	border-color: $theme_grn !important;
}

.check-in:hover, .check-in:visited{
		background-color: $theme_grn;
		opacity:.7;
		color:white;
		border-color: $theme_grn;
}

.maint-req{
	background-color: $theme!important;
	color:white!important;
	border-color: $theme!important;
}
.maint-req:active{
	background-color: $theme !important;
	opacity:.9 !important;
	color:white !important;
	border-color: $theme !important;
}

.maint-req:hover, .maint-req:visited{
		background-color: $theme;
		opacity:.7;
		color:white;
		border-color: $theme_gr;
}


@media (min-width: 0px) and (max-width:999px){
	.show-mobile {
        display: block;
        max-width:80%;
        position:relative;
        margin:auto;
     }
      .hide-mobile {
        display: none;
     }   
}

/* BEGIN NORMAL BROWSER STYLINGS */
@media  (min-width:1000px){
	.show-mobile {
        display: none;
     }
      .hide-mobile {
        display: block;
        height:100%;

     }
}